.right{
	float:right;
}


.gray{
	color:#dddddd;
}


.show{
	display:block;
}

.hidden{
	display:none;
}





/*话题部分*/
.topic-cell{
	border-bottom:1px solid  #dddddd;
}



.prepage a{float:left;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.nextpage a{float:right;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.prepage a:hover,.nextpage a:hover{text-decoration:none;background-color:#ff0000;color:#f9f9f9;-webkit-transition:color .2s linear;}